# macOS
.DS_Store

# SwiftPM
.build/
.swiftpm/

# Xcode
DerivedData/
build/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Editors
*.swp
*~
